@import "tailwindcss";

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}


body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background:#F5F0F0;
}

.container {
  width: 95%; margin:auto;
} 




.link:hover{
  color:#ff5252;
}

.MuiBadge-badge{background-color: #ff5252 !important;}

nav ul button{text-transform: capitalize !important;}

nav ul button:hover .MuiTouchRipple-root{background-color: rgba(0,0,0,0.1) !important;}